/* Definindo estilo global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/background.jpeg') no-repeat center center fixed; /* Adiciona uma imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
}

/* Container centralizado */
.container {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

/* Estilo do botão */
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efeito de hover no botão */
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Resultado */
.resultado {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}
